<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.gpetuhov.android.yellowstone"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!--Our own permission for different components within the app-->
    <permission
        android:name="com.gpetuhov.android.yellowstone.PRIVATE"
        android:protectionLevel="signature"/>


    <!--Permission to access internet. Needed in our app and also by Google Maps-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--Permission to access network state.
        Needed to check internet availability and also by Google Maps-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--Permission to write data to external storage. Needed by Google Maps-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--Permission to receive broadcast intent notifying of system startup.
        Needed by broadcast receiver to activate quake polling service on startup-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!--This app uses our own permission for different components within the app-->
    <uses-permission android:name="com.gpetuhov.android.yellowstone.PRIVATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Key for Google Maps API-->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBut_7f4-HvwlJJKoXTNf9j40J66sDHKn4"/>

        <!--Main activity. Starts from launcher-->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--Earthquake detail activity-->
        <activity
            android:name=".QuakePagerActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <!--Photo webpage activity-->
        <activity
            android:name=".PhotoPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".MainActivity">
            <!--PhotoPageActivity is set to handle configuration changes itself-->
            <!--This is needed for WebView not to reload webpages on orientation change-->
        </activity>

        <!--Application settings activity-->
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <!--New earthquakes checking and notification service-->
        <service android:name=".QuakePollService"/>

        <!--Broadcast receiver activates quake polling service on system startup-->
        <receiver android:name=".StartupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!--Broadcast receiver receives broadcast from quake polling service
            and shows new quake notifications depending on broadcast result-->
        <receiver
            android:name=".QuakeNotificationReceiver"
            android:exported="false">
            <intent-filter
                android:priority="-999">
                <!--The receiver has the least priority of all receivers in the app
                    to be the last one who receives broadcast from quake polling service-->
                <!--Priority levels below -999 are reserved by the system-->
                <action android:name="com.gpetuhov.android.yellowstone.SHOW_NOTIFICATION"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>